По данным опроса, 75% работников ресторанов утверждают, что испытывают на работе существенный стресс, оказывающий негативное влияние на их личную жизнь. Крупная ресторанная сеть опрашивает 100 своих работников, чтобы выяснить, отличается ли уровень стресса работников в их ресторанах от среднего. 67 из 100 работников отметили высокий уровень стресса.

Посчитайте достигаемый уровень значимости, округлите ответ до четырёх знаков после десятичной точки.

In [16]:
import numpy as np
import scipy
from scipy import stats
import pandas as pd

In [4]:
stats.binom_test(67,100,0.75)

0.082222588913866079

The Wage Tract — заповедник в округе Тома, Джорджия, США, деревья в котором не затронуты деятельностью человека со времён первых поселенцев. Для участка заповедника размером 200х200 м имеется информация о координатах сосен (sn — координата в направлении север-юг, we — в направлении запад-восток, обе от 0 до 200).

pines.txt
Проверим, можно ли пространственное распределение сосен считать равномерным, или они растут кластерами.

Загрузите данные, поделите участок на 5х5 одинаковых квадратов размера 40x40 м, посчитайте количество сосен в каждом квадрате (чтобы получить такой же результат, как у нас, используйте функцию scipy.stats.binned_statistic_2d).

Если сосны действительно растут равномерно, какое среднее ожидаемое количество сосен в каждом квадрате? В правильном ответе два знака после десятичной точки.

In [8]:
df = pd.read_csv('Week1/pines.txt','\t')

In [10]:
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sn</th>
      <th>we</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>200.0</td>
      <td>8.8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>199.3</td>
      <td>10.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>193.6</td>
      <td>22.4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>167.7</td>
      <td>35.6</td>
    </tr>
    <tr>
      <th>4</th>
      <td>183.9</td>
      <td>45.4</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
X= df['sn'].as_matrix()
Y = df['we'].as_matrix()
bin = np.arange(0, 240, 40)
stat = scipy.stats.binned_statistic_2d(X,Y,None,'count',bins=[bin,bin])

In [27]:
stat.statistic.sum()/25

23.359999999999999

In [36]:
st=np.array(stat.statistic)
observed_frequences= st.reshape(-1)
expected_frequences= np.ones(observed_frequences.shape)
expected_frequences[np.arange(0,25,1)]=23.36
print expected_frequences

[ 23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36
  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36  23.36
  23.36  23.36  23.36  23.36  23.36]

In [40]:
stats.chisquare(observed_frequences, expected_frequences,ddof=24)

Power_divergenceResult(statistic=150.58904109589042, pvalue=nan)